<h1 class="note-title"><textarea class="cell-title">{{ title }}</textarea></h1>
<span class="note-save" data-note-id="{{ id }}">Save</span>

<div class="note-input"><textarea class="cell-content">{{ content }}</textarea></div>
