<li>
    <a class="note-nav-new" href="#"> New Note</a>
</li>

{{#each notes}}
<!-- <li class="note with-menu {{#if active}}active{{/if}}" data-id="{{ id }}"> -->
<li class="note-nav-entry with-menu" data-note-id="{{ id }}">
    <a class="note-nav-link" href="#">{{ title }}</a>

    <!-- Put menu, counter, or buttons under .app-navigation-entry-utils -->
    <div class="app-navigation-entry-utils">
        <ul>
            <li class="app-navigation-entry-utils-menu-button svg">
                <button class="icon-delete" data-note-id="{{ id }}"></button>
            </li>
        </ul>
    </div>
</li>
{{/each}}
